body {
    padding: 5px;
    background: #00c3ff ;
}
.title {
    position: relative;
    background-color: rgb(0, 247, 255);
    text-align: center;
    padding-top: 10px;
    text-decoration-style: solid;
}

.user {
    position: relative;
    text-align: left;
}

.nav {
    list-style: none;
    font-weight: bold;
    margin: 0px;
    padding: 7px 7px;
    display: block;
    position: relative;
    background-color: rgb(0, 247, 255);
}

.nav > li {
    display: inline-block;
    margin-right: 10px;
}

.act_list {
    position: relative;
    background-color: rgb(0, 247, 255);
    text-align: center;
    padding-top: 10px;
    text-decoration-style: solid;
}

.box {
    position: relative;
    top: 50%;
    left: 22%;
    width: 1000px;
    height: 280px;
    margin: 8px;
    box-sizing: border-box;
    background: #fff;
    border-radius:4px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.5);
    display: flex;
}

.box.listingDetails {
    height: 480px;
}

.box:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.box .imgBx,
.box .content {
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.box .imgBx {
    justify-content: center;
}


.box .imgBx img {
    box-sizing: border-box;
    max-height: 230px;
    margin: auto;
}


.box .content {

    max-height: 500px;
    height: auto;
    box-sizing: border-box;
}

.curBid {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.comment {
    background-color: white;
}

.comment:hover {
    box-shadow: 0 5px 10px rgba(15, 2, 194, 0.5);
}

.categories a {
    color: black;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 4px;
    }