{% extends "auctions/layout.html" %}


{% block body %}

    <div class="box">
        <div class="imgBx">
            <a href="{% url 'listing' listing.id %}">
                <img src="/media/{{ listing.image }}">
            </a>
        </div>
        <div class="content">
            <a href="{% url 'listing' listing.id %}">
                <strong>{{ listing.title }}</strong><br>
            </a>
            <strong>Description: </strong> {{ listing.description}}<br>    
            <strong>Category: </strong> {{ listing.category }}<br>
            <strong>Posted by: </strong> {{ listing.owner }}<br>
            <strong>Posted on: </strong> {{ listing.created_date }}<br>
            <div class="watchlist">
                <form action="{% url 'update_watchlist' listing.id %}" method="POST">
                    {% csrf_token %}
                    {% if is_watched %}
                        <button type="submit">Remove from My Watchlist</button>
                    {% else %}
                        <button type="submit">Add to My Watchlist</button> 
                    {% endif %}
                </form>
            </div>
            <strong>Starting Price: </strong> $ {{ listing.starting_price }}<br>
            <strong>Current Bid: </strong> $ {{ listing.current_price }}<br>
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            <form action="{% url 'bid' listing.id %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit">
            </form>
        </div>
    </div>
    <button type="button"><a href= "{% url 'index' %}"><strong>Back to All Listings</strong></a></button>
{% endblock %}    